/* ----------------------------------------------------------------------------- */
/* Loader ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
*{
    box-sizing: border-box;
}

body{
  overflow: hidden;
 }

#myLoading{
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 999999999999999999999;
}

#loaderDiv{
  margin: 0 0 2em;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1rem;
  display: inline-block;
  vertical-align: top;
}

#loaderSize{
  transform: scale(3);
}

/* -------------------------------------------------------------------------------- */
/* Navbar ------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

#navbarNavDropdown ul{
    border: none;
}
#navbarNavDropdown ul li a{
    position: relative;
    border: none;
}
#navbarNavDropdown ul li a::before{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 1s;
    background-color: white;
}
#navbarNavDropdown ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: all 1s;
    background-color: white;
}
#navbarNavDropdown ul li:hover a::before{
    width: 100%;
}
#navbarNavDropdown ul li:hover a::after{
    width: 100%;
}

/* -------------------------------------------------------------------------------- */
/* Home Section ------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

#home{
    background-image: url(../src/Images/BG-Section-Home.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#homeBG{
    background-color: rgb(0, 0, 0, 0.5);
}



/* Home-Animation -------------------------------------------------------------- */

.rotating-text {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: white;
}
.rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.38s ease;
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}

.w-1 {
  color: blueviolet;
}

.w-2 {
  color: #f1c40f;
}

.w-3 {
  color: purple;
}

.w-4 {
  color: #2ecc71;
}

.w-5 {
  color: #8e44ad;
}

/* ----------------------------------------------------------------------------- */
/* Skills Section -------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

#skills{
    background-image: url(../src/Images/BG-Section-Skills.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#skillsBG{
    background-color: rgba(0, 0, 0, 0.5);
}

#skills_IMG-Fame h1{
    
    padding: 30px 0;
}

#skills_IMG-Fame{

    opacity: 0;

    transition: all 1s;

}

#skills_IMG:hover #skills_IMG-Fame{

    opacity: 1;
}

#skills_IMG img{

    transition: all 1s;
}

#skills_IMG:hover img{

    transform: scale(1.08);
}



/* FrontEnd Skills ------------------------------------------------------------- */

#FrontEndSkillsSlide{
    display: none;
}
#FrontEndSkillsSlide-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#FrontEndSkillsSlide ul{
    font-size: 1.25rem;
    font: bold;
    margin: 0;
    padding-top: 15px;
}

/* BackEnd Skills -------------------------------------------------------------- */

#BackEndSkillsSlide{
    display: none;
}
#BackEndSkillsSlide-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#BackEndSkillsSlide ul{
    font-size: 1.25rem;
    font: bold;
    margin: 0;
    padding-top: 15px;
}

/* IT Skills ------------------------------------------------------------------- */

#ITSkillsSlide{
    display: none;
}
#ITSkillsSlide-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ITSkillsSlide ul{
    font-size: 1.25rem;
    font: bold;
    margin: 0;
    padding-top: 15px;
}
#ITSkillsSlide-IMG{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15px; 
    margin-right: 16px;
}

/* Info Contact ---------------------------------------------------------------- */

#infoDiv{
    background-color: rgba(0, 0, 0, 0.5);
    border: solid #31D2F2 2px;
    border-radius: 15px;
    display: none;
    padding: 16px;
    margin: auto;
}

#infoDiv i:hover{
    color: #31D2F2;
}

/* ----------------------------------------------------------------------------- */
/* About Section --------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.about_heder{
    font-size: 6rem;
    position: relative;;
    color: black;
    text-shadow: 4px 3px 3px #0D6EFD;
}

/* Section Sizing -------------------------------------------------------------- */

#about_Programming{
    background-color: #f5f5f5;
}

#about_BTN{
    padding-left: 12px;
}

/* ----------------------------------------------------------------------------- */
/* Services Section ------------------------------------------------------------ */
/* ----------------------------------------------------------------------------- */

.services_heder{
    font-size: 3rem;
    position: relative;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.services_heder::before{
    content:"";
    width: 65%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background-color: blue;
}

.services_heder::after{
    content:"";
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 5px;
    border: solid #212529 7.5px ;
    background-color: blue;
    z-index: 2;
}

/* ----------------------------------------------------------------------------- */
/* Practical ------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.practical_heder{
    font-size: 3rem;
    position: relative;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.practical_heder::before{
    content:"";
    width: 65%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background-color: black;
}

.practical_heder::after{
    content:"";
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 5px;
    border: solid white 7.5px ;
    background-color: black;
    z-index: 2;
}

/* Card ------------------------------------------------------------------------ */

.practical_card{
    height: 520px;
}

@media screen and (min-width:768px) and (max-width:992px){

    .practical_card{
        height: 610px;
    }

}

@media screen and (min-width:993px){

    .practical_card{
        height: 460px;
    }

}

#carouselExampleIndicators1 .practical_card{
    transition: 1s;
}
#carouselExampleIndicators1 .practical_card:hover{
    transform: scale(0.95);
}

#carouselExampleIndicators1 img{
    transition: 1s;
}
#carouselExampleIndicators1 .practical_card:hover:hover img{
    transform: scale(0.95);
}

#carouselExampleIndicators2 .practical_card{
    transform: scale(0.90);
}

/* Slider BTN ------------------------------------------------------------------ */

.SliderPositionSticky{
    position: sticky !important;
}

.practical_Slider_BTN_Next_Prev{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 5rem;
    height: 5rem;
    text-indent: 0;
    background-image: none;
}

/* ----------------------------------------------------------------------------- */
/* Footer ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.footer_logo{
    width: 130px;
    height: 130px;
    transition: all 0.5s;
    border: solid black 1px;
}

.footer_logo:hover{
    border: solid blueviolet 7px;
}

/* ----------------------------------------------------------------------------- */
/* Shared ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.Pointer{
    cursor: pointer;
}

.a_None{
    text-decoration: none;
}

.SM-BTN-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: solid black 3px;
    transition: transform 0.75s;
}
.SM-BTN-icon:hover{
    border: solid white 2px;
    transform: scale(1.25);
}

.GitHub{
    color: black;
}

.LinkedIn{
    color: #0366C3;
}

.Facebook{
    color: #1877F2;
}

.Twitter{
    color: #1877F2;
}

.Instagram{
    color: #E8067F;
}

.Youtube{
    color: red;
}

.TikTok{
    color: black;
}